.progress span  {
  color: var(--secondary);
}

.progress-bar {
  height: 20px;
  border: 1px solid black;
}

.raised-percent {
  height: 100%;
  background: green;
}

.progress-component {
  height: 20px;
  border: 1px solid black;
}